<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.management">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 아래 두개는 위치정보 활용 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 아래 두개는 앨범에서 이미지 가져오기때 활용 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mapActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".disease_condition" />
        <activity android:name=".disease_listActivity" />
        <activity android:name=".disease_searchActivity" />
        <activity android:name=".condition_searchActivity" />
        <activity android:name=".disease_detail" />
        <activity android:name=".VetActivity" />
        <activity android:name=".vetDetailActivity" />
        <activity android:name=".VetlistActivity" />
        <activity android:name=".CommunityActivity" />
        <activity android:name=".NewPostActivity" />
        <activity android:name=".PostDetailActivity" />
    </application>

</manifest>